.wineModal {
    position: fixed;
    background-color:whitesmoke;
    border: 6px solid gold;
    border-radius: 10%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    max-width: 100%;
    height: 650px;
    max-height: 100%;
    z-index: 3;
}

.header {
    height: 12%;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid maroon;
    /* border-style: outset; */
    border-radius: 25%;
    font-weight: 900;
    font-family: 'Great Vibes', cursive;
    background-color: rgb(146, 42, 106);
    background-color: transparent;
    padding-bottom: 10px;
}

ul {
    font-family: 'Chewy', cursive;
    font-weight: 500;
}

.wineDiv {
    display: flex;
    justify-content: flex-start;
    height: 35%;
    /* align-self: ; */
    padding-top: 5px;
    overflow-y: scroll;
    border-bottom: 2px solid maroon;
    border-radius: 15%;
    padding-bottom: 15px;
}

.wineImgDiv {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
    width: 55%;
}

.reviews {
    margin: 10px;
    height: 32%;
    overflow-x: scroll;
    font-family: 'Chewy', cursive;
}

/* .headerDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */

.reviewHeader {
    display: flex;
    justify-content: center;
    margin: 5px;
    /* position: static; */
    font-size: 1.9em;
    font-weight: 400;
    font-family: 'Chewy', cursive;
}

.reviewBox {
    height: 98%;
    font-family: 'Chewy', cursive;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    /* margin-bottom: 10px; */
}

.footerP {
    margin-right: 10px;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Chewy', cursive;
    border: 2px solid maroon;
    background: none;
}

.footerP:hover {
    border: 2px solid gold;
}

/* Section is the slide on the carousel */
section {
    height: 98%;
}





