.wineModal {
    position: fixed;
    background-color:whitesmoke;
    border: 6px solid gold;
    border-radius: 10%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    max-width: 100%;
    height: 650px;
    max-height: 100%;
    z-index: 3;
}

.header {
    height: 10%;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid maroon;
    /* border-style: outset; */
    border-radius: 25%;
    font-weight: 900;
    font-family: 'Great Vibes', cursive;
    background-color: rgb(146, 42, 106);
    background-color: transparent;
    padding-bottom: 10px;
}

.wineModal ul {
    font-family: 'Chewy', cursive;
    font-weight: 500;
}

.wineDiv {
    display: flex;
    justify-content: flex-start;
    height: 35%;
    /* align-self: ; */
    padding-top: 5px;
    overflow-y: scroll;
    border-bottom: 2px solid maroon;
    border-radius: 15%;
    padding-bottom: 15px;
}

.wineImgDiv {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
    width: 55%;
}

.reviews {
    margin: 10px;
    height: 32%;
    overflow-x: scroll;
    font-family: 'Chewy', cursive;
}

/* .headerDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */

.reviewHeader {
    display: flex;
    justify-content: center;
    margin: 5px;
    /* position: static; */
    font-size: 1.9em;
    font-weight: 400;
    font-family: 'Chewy', cursive;
}

.reviewBox {
    height: 98%;
    font-family: 'Chewy', cursive;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-start;
    height: 7%;
    width: 90%;
}

.footerP {
    font-size: 17px;
    font-weight: 500;
    font-family: 'Chewy', cursive;
    border: 2px solid maroon;
    background: none;
    margin-right: none !important;
    margin-left: 45px;
}

.footerP:hover {
    border: 2px solid gold;
}

/* Section is the slide on the carousel */
section {
    height: 98%;
}

.addToCellar {
    color: rgba(0, 0, 0, 0.8);
    display: flex;
    font-size: 35px;
    border: 2px solid maroon;
    background: none;
    /* justify-self: flex-end; */
}

.addToCellar:hover{
    border: 2px solid gold;
}

.addToCellar i {
    padding-left: 10px;
    margin-right: 0px !important;
}

.addToCellar i:hover {
    color: rgb(133, 255, 133);
}

.addToCellar p {
    font-size: 18px;
    align-self: center;
    font-family: 'Chewy', cursive;
}

.removeFromCellar {
    color: rgba(0, 0, 0, 0.8);
    display: flex;
    font-size: 26px;
    border: 2px solid maroon;
    background: none;
    /* justify-self: flex-end; */
}

.removeFromCellar:hover{
    border: 2px solid gold;
}

.removeFromCellar i {
    padding-left: 8px;
    margin-right: 0px !important;
    margin-top: 7px;
}

.removeFromCellar i:hover {
    color: rgb(248, 46, 46);
}

.removeFromCellar p {
    font-size: 18px;
    align-self: center;
    font-family: 'Chewy', cursive;
}





