.page {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.profileLanding {
    height: 60%;
    width: 60%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 231, 231, 0.801);
    box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.2);
    /* border: 2mm ridge rgba(0, 0, 0, 0.835); */
}

.profile__nav {
    width: 100%;
    display: flex;
}

.profile__openCellar {
    width: 50%;
    display: flex;
}

.profile__openJournal { 
    width: 50%;
    display: flex;
}

.profileLanding__header {
    font-size: 3em;
    /* font-weight: 700; */
    /* font-family: "Teko", sans-serif; */
    /* border-bottom: 2px solid rgb(0, 0, 0); */
    margin: 10px 0 20px 0
}

.profileLanding__list {
    font-size: 1.5em;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 27px;
}

.profileLanding__list li {
    /* margin: 10px; */
    display: inline-flex;
}

.liL {
    font-family: 'Teko', sans-serif;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}

.liN {
    padding-left: 20px;
}