.winePage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background: rgb(253,255,192);
    background: linear-gradient(323deg, rgba(253,255,192,1) 4%, rgba(233,242,183,1) 41%, rgba(193,217,165,1) 66%, rgba(122,172,133,0.9912114504004726) 100%); */
    /* background: rgb(153,153,153);
    background: radial-gradient(circle, rgba(153,153,153,0.9912114504004726) 38%, rgba(218,218,202,1) 72%, rgba(144,144,139,1) 100%); */
    background: rgb(167,132,132);
    background: radial-gradient(circle, rgba(167,132,132,1) 21%, rgba(99,5,5,1) 64%, rgba(68,45,50,1) 100%);
}

.searchHeader {
    height: 28em;
    font-weight: 900;
    width: 100%;
    align-self: center;
    background-image: url(../../assets/images/winebanner5.jpg);
    background-size: cover;
    border-radius: 20px;
}

.searchBar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
    background-color: rgb(235, 235, 212, .5);
    height: 10%;
    font-size: 20px;
}

.sticky {
    top: 0%;
    height: 10%;
    border-bottom: 1px solid white;
    color: white;
    background-color: rgba(2, 2, 2, 0.4);
}

.sticky span {
    color: white
}

.sticky ul li ul li {
    color: black;
}

.searchBar:hover {
    border-bottom: 1px solid maroon;
}

.dropdown {
    display: flex;
    width: 80%;
    justify-content: space-around;
    list-style-type: none;
}

.dropdown__header {
    position: relative;
    font-weight: 900;;
}

.dropdown__header header {
    margin-top: 8px;
}

.dropdown__header header:hover {
    color: maroon;
}

.dropdown__header_year input {
    height: 80%;
    width: 60%;
    margin-left: 10px;
}

.dropdown__header_name input {
    height: 80%;
    width: 80%;
}

.dropdown__options {
    display: none;
    /* flex-direction: column; */
    position: absolute;
    background-color: rgb(245, 252, 252, .7);
    border: 1px solid grey;
    padding: 8px;
    border-radius: 6px;
    /* margin-top: 24px; */
}   

.dropdown__header:hover ul {
    display: block;
}   

.dropdown__header input:hover {
    border: 1px solid maroon;
}

.dropdown__options_li {
    list-style-type: none;
    padding: 6px 2px;
    border-radius: 6px;
    width: 150px;

}

.dropdown__options_li:hover {
    background-color: rgb(240, 223, 131);
    cursor: pointer;
}


.WinesContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 10px;
}


.btn {
    /* background-color: #e4bebe; */
    line-height: 39px;
    height: 50px;
    text-align: center;
    width: 250px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    transition: all 0.3s;
    position: relative;
}
.btn span {
  transition: all 0.3s;
  font-weight: 600;
  /* margin-bottom: 15px; */
}
.btn::before {
  content: '';
  /* position: absolute; */
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  transform: scale(0.1, 1);
}
.btn:hover span {
  letter-spacing: 2px;
}
.btn:hover::before {
  opacity: 1; 
  transform: scale(1, 1); 
}
.btn::after {
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255,255,255,0.1);
}
.btn:hover::after {
  opacity: 0; 
  transform: scale(0.1, 1);
}


