.reviewCard {
    height: 98%;
    width: 675px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-color:rgb(252, 245, 249);
    font-size: 1.2em;
}