
.journal {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
}

.journal__editEntry_btn, .journal__newEntry_btn {
    height: 3em;
    font-size: 1.5em;
    margin-bottom: 500px;
}


