
.journal {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* align-items:center; */
    justify-content: center;
    background-image: url(../../assets/images/journal2.jpeg);
    background-size: cover;
}

.entriesDisplay {
    height: 50%;
    width: 60%;
    background-color: rgba(218, 214, 214, 0.689);
    align-self: center;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 50px;
    border: 5px solid #333333;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    position: relative;
}

.entriesDisplay::before {
    content: '';
    border: 3px solid #353535;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
    border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
}

.journal__header {
    font-size: 30px;
    width: 100%;
    height: 10%;
    display: inline-flex;
    justify-content: center;
}

.cards {
    width: 98%;
    height: 80%;
    padding-left: 25px;
}

.card__header {
    font-size: 30px;
    font-family: 'Just Another Hand', cursive;
    font-weight: 700;
    width: 80%;
    height: 10%;
    display: inline-flex;
    justify-content: center;
    margin-right: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.card__entry {
    width: 85%;
    height: 60%;
    font-size: 1.8em;
    font-family: 'Just Another Hand', cursive;
}


.journal__footer {
    height: 15%;
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* background-color: black */
}

.text_box1 {
    font-weight: 900;
    font-size: 20px;
}

.text_box2 {
    font-weight: 900;
    font-size: 20px;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
    bottom: 100px;
    width: 11%;
    display: flex;
    justify-content: center;
    /* right: 200px;
    left: 200px; */
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.822);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn_white {
    background-color: rgba(255, 255, 255, 0.534);
    color: rgb(0, 0, 0);
}

.btn1 {
    background-color: rgba(226, 218, 218, 0.466) !important;
}

.btn1:hover {
    background-color: rgba(255, 255, 255, 0.801) !important;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn_white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn_animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}