.wineCard {
    width: 18rem;
    height: 22rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    overflow: hidden;
    /* border: 1px solid gold */
}

.wineCard:hover {
    cursor: pointer;
    border-bottom: 1px solid maroon;
}

.wineImg {
    height: 75%;
    width: 55%;
    flex-grow: 4;
    border-radius: 10%;
}

.name {
    color:black;
    width: 55%;
    font-size: 18px;
    padding-top: 5px;
    font-family:cursive;
    font-weight: 850;
}