.wineCard {
    width: 18rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    overflow: hidden;
    /* border: 1px solid gold */
}

.wineCard:hover {
    cursor: pointer;
    border-bottom: 1px solid rgb(255, 254, 254);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.11);
}

.wineImg {
    height: 65%;
    width: 55%;
    max-height: 60%;
    flex-grow: 4;
    border-radius: 10%;
    border: 2px solid rgba(255, 177, 177, 0.384);
}

.name {
    color:black;
    /* min-height: 40%; */
    width: 55%;
    height: 25%;
    font-size: 16px;
    padding-top: 5px;
    /* font-family: 'Pangolin', cursive; */
    font-weight: 850;
}

.name p {
    padding: none;
    margin: 0px 0px;
    font-family: 'Teko', sans-serif;
}

/* .addToCellar, .removeFromCellar {
    color: rgba(250, 247, 159, 0.8);
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 80%;
    font-size: 35px;
}

.removeFromCellar {
    color: white !important;
}

.addToCellar i, .removeFromCellar i {
    padding-right: 10px;
    margin-right: 15px;
}

.addToCellar i:hover {
    color: rgb(133, 255, 133);
}

.removeFromCellar i:hover{
    color: red;
} */


