.profile {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    /* background-image: url(../../assets/images/winebackground2.jpg); */
    background-image: url(../../assets/images/winebackground3.jpg);
    /* background-image: url(../../assets/images/winebackground4.jpg); */
    /* background-image: url(../../assets/images/winebackground5.jpg); */
    background-size: cover;
}

.cellarHeader {
    display: flex;
    justify-content: center;
    font-size: 3.5em;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    /* margin-top: 1em; */
    color: rgba(250, 250, 250, 0.977);
    text-shadow: 10px 10px 3px rgb(0, 0, 0);
    
}

.profile__nav {
    height: 7%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.profile__openCellar, .profile__openJournal {
    height: 100%;
    min-width: 150px;
}

.profile__openJournal_btn, .profile__openCellar_btn {
    height: 100%;
    width: 100%;
    min-width: 100px;
    margin-top: 10px;
    background: none;
    border:none;
    cursor: pointer;
    font-size: 3em;
    color: rgb(241, 241, 241);
}

.profile__openJournal_btn:hover, .profile__openCellar_btn:hover {
    border-bottom: 1px solid white;
}



/* .bkg {
    background-color: bisque;
    background-image: url(../../assets/images/vineyard2.jpg);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
} */