/* TODO Add site wide styles */
html {
    height: 100%;
}
body {
    height: 100%;
}

.mainDiv {
    height: 100%;
    width: 100%
    /* background-image: url(./assets/images/wine\ cellar\ image\ 2.png);
    background-repeat: no-repeat; */
}
