.background {
    height: 68%;
    width: 98%;
    display: flex;
    justify-content: center;
    align-content: center;
    /* max-width: 900px; */

}

.splashImg {
    height: 70%;
    width: 98%;
    max-width: 1000px;
}

.footerList {
    width: 98%;
    display: flex;
    justify-content: space-evenly;
    /* align-content: flex-start; */
    flex-direction: row;
    flex-wrap: wrap;
    list-style:  none;
    font-size: 2.5em;
    cursor: pointer;
    margin: 0;
    padding: 0;
    /* position: fixed; */
    z-index: 2;
}   


.footerDiv {
    position: relative;
}

a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

/* p {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
} */

.liLink {
    color: rgb(52, 172, 252) !important;
    display: flex;
    flex-direction: row;
}

.fab.fa-linkedin {
    font-size: 2.5rem;
}

.aLink:visited {
    text-decoration: none;
    color: rgb(52, 172, 252) !important;
}

.liGit {
    color: black;
    display: flex;
    flex-direction: row;
}

.aGit:visited {
    text-decoration: none;
    color: black;
}

.aTwit {
    color: rgb(66, 173, 235);
    display: flex;
    flex-direction: row;
}

.aTwit:visited {
    text-decoration: none;
    color: rgb(98, 187, 238);
}

