.page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* justify-content: ; */
    background-color: black;
}

.background {
    height: 85%;
    width: 85%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    /* max-width: 900px; */
    background-image: url(../../assets/images/Cellar3.jpg);
    background-size: cover;
}

.splashImg {
    height: 100%;
    width: 100%;
    max-width: 1000px;
    background-size: cover;
}

.footer {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(0, 0, 0, .7);
    height: auto;
    width: 100vw;
    font-family: 'Chewy', cursive;
    color: white;
}

.footer__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 55px;
}

.footer__content header {
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: capitalize;
    margin-top: none;
    /* line-height: 3rem; */
}

.footer__content p {
    max-width: 500px;
    /* margin: 10px auto;
    line-height: 28px; */
    font-size: 14px;
}

.footer__socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 2em;
}

.footer__socials li {
    margin: 0 10px;
}

.footer_socials a {
    text-decoration: none;
    color: white;
}

.footer__socials a i {
    font-size: 1.1 rem;
    transition: color .4s ease;
}

.footer_socials a:hover i{
    color: aqua;
}

.footer__bottom {
    background: rgb(2, 2, 2,);
    width: 100vw;
    text-align: center;
    max-height: 20px;
}

.footer__bottom p {
    font-size: 23px;
    word-spacing: 2px;
    text-transform: capitalize;
    margin: 0;
}

.footer__bottom span{
    text-transform: uppercase;
    font-weight: 600;
    /* font-family: 'Monoton', cursive; */
}


.aLink:visited {
    text-decoration: none;
    color: rgb(255, 251, 251) !important;
    height: 100%;
    width: 100%;
}

/* .liGit {
    color: black;
    display: flex;
    flex-direction: row;
} */

.aGit:visited {
    text-decoration: none;
    color: rgb(255, 249, 249);
}

/* .aTwit {
    color: rgb(66, 173, 235);
    display: flex;
    flex-direction: row;
} */

.aTwit:visited {
    text-decoration: none;
    color: rgb(250, 253, 255);
}

