.background {
    height: 68%;
    width: 98%;
    display: flex;
    justify-content: center;
    align-content: center;
    /* max-width: 900px; */

}

.splashImg {
    height: 70%;
    width: 98%;
    max-width: 1000px;
}

.footerList {
    width: 98%;
    display: flex;
    justify-content: space-evenly;
    /* align-content: flex-start; */
    flex-direction: row;
    flex-wrap: wrap;
    list-style:  none;
    font-size: 2.5em;
    cursor: pointer;
    margin: 0;
    padding: 0;
    /* position: fixed; */
    z-index: 2;
}   

.a {
    text-decoration: none;
}

.footerDiv {
    position: relative;
}

.liLink {
    color: rgb(52, 172, 252);
}

.liLink:visited {
    text-decoration: none;
    color: rgb(52, 172, 252);
}

.liGit {
    color: black;
}

.liGit:visited {
    text-decoration: none;
    color: black;
}

.liTwit {
    color: rgb(66, 173, 235);
}

.liTwit:visited {
    text-decoration: none;
    color: rgb(98, 187, 238);
}

/* .liPort {
    color: black;
} */

.liInsta {
    text-decoration: none;
    color:rgb(240, 27, 240)
}

.liInsta:visited {
    text-decoration: none;
    color:rgb(240, 27, 240)
}
