.navContainer {
    width: 100%;
    display:inline-flex; 
    justify-content: center;
    align-content: center; 
    margin-bottom: 5px;
}

/* 
.navlinks {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: space-between; */
    /* align-items: flex-start;  */
/* } */

/* .sessionLinks { */
    /* width: 50%;
    display: flex;
    justify-content: flex-end;
    width: 100%; */
/* } */

.navButtons {
    width: 55%;
    display: inline-flex;
    justify-content: flex-end;
    margin-left: 20px;
}

.navButtons div {
    min-width: 30%;
}

.homeLink {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    /* border: 2px solid gold; */
    color: black;
    padding: 5px;
    font-size: 1.7em;
    cursor: pointer;
    font-family: 'Permanent Marker', cursive;
    /* font-weight: 650; */
    text-decoration: none;
    margin-right: 45px;

}

.homeLink:hover{
    color:rgb(141, 12, 37);
    font-size: 28px;
}

li {
    list-style-type: none;
}

.profile__dropdown {
    position: absolute;
    margin: 10px 0 0 45px;
    color: black;
    width: 100%;
    z-index: 2;
}

.profile__dropdown li {
    width: 8%;
    background-color: rgb(255, 255, 255, .99);
    border-radius: 10px;
    font-weight: 600;
    border: none;
}

.profile__dropdown li:hover {
    border: 1px solid black;
}

.dropdownBtn {
    text-decoration: none;
    background: none;
    border: none;
    font-weight: 550;
}

.dropdownBtn:hover {
    cursor: pointer;
}

/* .profile {
    display: flex;
    flex-direction: column;
    margin: 5px;
} */

/* .profile__dropdown {
    margin-top: 3rem;
    position: sticky;
    display: flex;
    flex-direction: row;
} */

/* .profileBtn {
    width: 7%;
    position: absolute;
    background: none;
    border: 2px solid gold;
    border-radius: 20%;
    color: black;
    padding: 5px;
    font-size: 18px;
    font-weight: 550;
    cursor: pointer;
    margin: 12px 0;
    font-family: Arial, Helvetica, sans-serif;
} */

/* .profileBtn:hover {
    color:rgb(141, 12, 37);
    border: 2px solid rgb(177, 107, 121);
} */

/* .dropdownBtn {
    background: none;
    border: 2px solid gold;
    color: black;
    cursor: pointer;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
} */

/* .dropdownBtn:hover {
    color:rgb(141, 12, 37);
    border: 2px solid rgb(177, 107, 121);
} */

.btn {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 250px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    transition: all 0.3s;
    position: relative;
    font-size: 1.1em;
}
.btn span {
  transition: all 0.3s;
  font-weight: 500;
  height: 100%;
  font-size: 1.6em;
  font-family: 'Chewy', cursive;
}
.btn::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(233, 72, 72, 0.5);
  border-bottom-color: rgba(219, 57, 57, 0.5);
  transform: scale(0.1, 1);
}
.btn:hover span {
  letter-spacing: 2px;
}
.btn:hover::before {
  opacity: 1; 
  transform: scale(1, 1); 
}
.btn::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255,255,255,0.1);
}
.btn:hover::after {
  opacity: 0; 
  transform: scale(0.1, 1);
}




