.navContainer {
    width: 100%;
    display:inline-flex; 
    justify-content: center;
    align-content: center; 
}

.navlinks {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    /* align-items: flex-start;  */
}

.sessionLinks {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    /* align-items: center;  */
}

.navButtons {
    width: 100%;
}

.homeLink {
    width: 25%;
    background: none;
    /* border: 2px solid gold; */
    color: black;
    padding: 5px;
    font-size: 23px;
    cursor: pointer;
    margin: 12px 0;
    font-family: ProximaNova,Helvetica,sans-serif;;
    font-weight: 600;
    text-decoration: none;

}

.homeLink:hover{
    color:rgb(141, 12, 37);
    font-size: 24px;
}

li {
    list-style-type: none;
}

/* .profile {
    display: flex;
    flex-direction: column;
    margin: 5px;
} */

.profile__dropdown {
    margin-top: 3rem;
    position: sticky;
    display: flex;
    flex-direction: row;
}

.profileBtn {
    width: 10%;
    position: absolute;
    background: none;
    border: 2px solid gold;
    border-radius: 20%;
    color: black;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
}

.profileBtn:hover {
    color:rgb(141, 12, 37);
    border: 2px solid rgb(177, 107, 121);
}

.dropdownBtn {
    background: none;
    /* position: relative; */
    border: 2px solid gold;
    color: black;
    cursor: pointer;
    /* padding: 8px; */
}

.dropdownBtn:hover {
    color:rgb(141, 12, 37);
    border: 2px solid rgb(177, 107, 121);
}



