/* body {
    display: flex;
    justify-content: space-around
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
}

.navbarUl {
    width: 100%;
    display: flex;
    justify-content: space-between;
} */

/* #root {
    display: flex;
    justify-content: space-around
} */