.cellarContainer {
    /* height: 65%; */
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.cellar {
    border: 4mm ridge rgba(44, 41, 41, 0.835);
    background-color: rgba(205, 205, 212, 0.5);
    /* margin-top: 2em; */
    width: 78%;
}

.cellar__header {
    display: flex;
    justify-content: flex-end;
    margin-right: 300px;
    font-size: 1.5em;
    color: white
}
