.cellarContainer {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.cellar {
    border: 4mm ridge rgba(15, 29, 5, 0.835);
    background-color: rgba(166, 165, 179, 0.404);
    /* margin-top: 2em; */
    width: 78%;

}

.cellar__header {
    display: flex;
    justify-content: flex-end;
    margin-right: 200px;
    font-size: 1.5em;
}
